.list {
  border: 1px solid #ccc;
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  right: 0;
  list-style-type: none;
  padding: 0;
  z-index: 9999;
  background: #fff;
}

