@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loadingSpinner {
  width: 16px;
  height: 16px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #383636;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
  position: absolute;
  right: 28px;
  top: 20px;
  bottom: 20px;
  transform: translate(-50%, -50%);
}

